.home-page, .sign-in-page, .register-page, .profile-page {
    background: white;
}

.main-content > p {
    background: white;
    margin-block: 0px;
}

.sign-in-page main, .register-page main {
    display: flex;
    flex-direction: column;
}

.sign-in-page .register-info {
    display: flex;
    transform: translate(42%, 0%);
}

.sign-in-page h2, .register-page h2, .home-page h2, .profile-page h2 {
    text-align: center;
    font-weight: 400;
}

.profile-page {
    display: flex;
    flex-direction: column !important;
    height: inherit;
}

.profile-page aside {
    height: 100%;
}

.profile-page .ant-layout-has-sider {
    width: inherit !important;
    background: white;
}

.profile-page aside {
    border-right: 1px solid gray;
}